.modal-container {
    position: absolute;
    display: flex;
    /* justify-content: center;
    align-items: center; */
}

.modal {
    margin: 10px;
    padding: 20px; 
    display: grid;
    width: 600px;
    height: 400px;
    left: 300px;
    top: 100px;
    grid-template-rows: 2em 2em 1fr 1fr;
    background-color:rgb(199, 33, 33); 
    border-radius: 1em;   
}

.character-title h2 {
    color: black;
    font-weight: bold;
    text-align: center;
    background-color: grey;
}

.character-description p {
    text-align: justify;
    color:white;
    font-weight: bold;
    background-color: blue;
}

.modal .close i {
    font-size: 35px;
    top: 20px;
    right: 10px;
}